#Historical polar data, try integrating with API data at some point if poss
polar_data.zip
API_Setup.py


#Keeping here as was just a part of the setup. Maybe store somewhere else
callback_server.py

#Unnecessary
testme.md

#Ignoring csv file for now, will update later in development process
polar_data.csv

#Ignoring neon file as it is just for testing
neon_testing.ipynb

#Ignoring processing testing file as it is for testing 01_processing script code
processing_testing.ipynb